.block3_1{
        margin-top: 5px;
        margin-left: 15px;
        width: 1500px;
        height: 430px;
        border-style: solid;
}

Font_Fix{
    font-weight: bold;
    font-size:24px ;
    margin-left: 583px;
    

}
#Font_Fix_0{
    font-weight: bold;
    font-size:24px ;
    margin-top: 10px;
    margin-left:400px;
}